<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Прокат "Петрович" | @ViewBag.Title</title>

    @Styles.Render("~/Content/css/common")
    @Styles.Render("~/Content/css/theme")
    @Styles.Render("~/Content/css/petrovich")

</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                @Html.Partial("Layout/LeftNavigation")
            </div>

            <div class="top_nav">
                @Html.Partial("Layout/TopNavigation")
            </div>
            
            <div class="right_col" role="main">
                <div class="@ViewBag.PageClass">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>@ViewBag.Title</h3>
                        </div>
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Поиск...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>

            @Html.Partial("Layout/Footer")
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/common")
    
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/petrovich")

    @RenderSection("scripts", required: false)
</body>
</html>