<div class="menu_section">
    <h3>Структура данных</h3>
    <ul class="nav side-menu">
        <li>
            <a><i class="fa fa-user"></i> Категории <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>
                    @Html.ActionLink("Список категорий", PetrovichRoutes.DataStructure.CategoryList)
                </li>
                <li>
                    @Html.ActionLink("Добавить категорию", PetrovichRoutes.DataStructure.CategoryCreate)
                </li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-user"></i> Подкатегория <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>
                    @Html.ActionLink("Список подкатегорий", PetrovichRoutes.DataStructure.SubcategoryList)
                </li>
                <li>
                    @Html.ActionLink("Добавить подкатегорию", PetrovichRoutes.DataStructure.SubcategoryCreate)
                </li>
            </ul>
        </li>
        <li>
            <a><i class="fa fa-user"></i> Группы товаров <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li>
                    @Html.ActionLink("Список групп", PetrovichRoutes.DataStructure.GroupList)
                </li>
                <li>
                    @Html.ActionLink("Добавить группу", PetrovichRoutes.DataStructure.GroupCreate)
                </li>
            </ul>
        </li>
    </ul>
</div>