@model Petrovich.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Вход";
}

<div class="login_wrapper">
    <div class="form login_form">
        <section class="login_content">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h1>Вход</h1>
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Логин", required = "" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Пароль", required = "" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div>
                    <button type="submit" class="btn btn-default submit">Войти</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <h1><i class="fa fa-paw"></i> Прокат "Петрович"</h1>
                    <p>
                        Прокат "Петрович" &copy; @DateTime.Now.Year | Разработка: <a target="_blank" href="https://www.linkedin.com/in/artsiompatotski/" title="Artsiom Patotski">Artsiom Patotski</a>
                    </p>
                </div>
            }
        </section>
    </div>
</div>
