@model Petrovich.Web.Models.DataStructure.CategoryCreateViewModel

@{
    ViewBag.Title = "Создание категории";
}

<div class="x_panel">
    <div class="x_title">
        <h2>@ViewBag.Title <small>регистрация новой категории в системе</small></h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        @using (Html.BeginForm(PetrovichRoutes.DataStructure.CategoryCreate, FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <span class="required">*</span>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Название" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BasePrice, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-2 col-sm-2 col-xs-12">
                    @Html.TextBoxFor(m => m.BasePrice, "{0:N2}", new { id = "price", @class = "form-control col-xs-12", placeholder = "Цена проката" })
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.DropDownListFor(m => m.PriceType, Model.PriceTypes, new { @class = "form-control col-xs-12" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.BranchId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <span class="required">*</span>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.DropDownListFor(m => m.BranchId, Model.Branches, new { @class = "form-control col-md-7 col-xs-12" })
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Добавить</button>
                    @Html.ActionLink("Отмена", PetrovichRoutes.DataStructure.CategoryList, null, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>
