@model Petrovich.Web.Models.PagedListViewModel<Petrovich.Web.Models.DataStructure.GroupViewModel>

@{
    ViewBag.Title = "Список групп";
}

<div class="x_panel">
    <div class="x_title">
        <h2>@ViewBag.Title <small>список зарегистрированных групп</small></h2>
        <div class="nav navbar-right">
            <a href="@Url.Action(PetrovichRoutes.DataStructure.GroupCreate)" class="btn btn-default btn-sm">Добавить группу</a>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Часть инвентарного номера</th>
                                <th>Базовая цена проката</th>
                                <th>Категория</th>
                                <th>Создана</th>
                                <th>Отредактирована</th>
                                <th>Операции</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Items.Any())
                            {
                                <tr>
                                    <td colspan="3">Нет элементов для отображения</td>
                                </tr>
                            }

                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.InventoryPartString)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CategoryTitle)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Modified)</td>
                                    <td>
                                        @using (Html.BeginForm(PetrovichRoutes.DataStructure.GroupDelete, new { id = item.GroupId }, FormMethod.Post, null))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="btn-group" role="group">
                                                <a href="@Url.Action(PetrovichRoutes.DataStructure.GroupEdit, new { id = item.GroupId })" class="btn btn-default btn-xs" aria-label="Редактировать" title="Редактировать">
                                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                                </a>
                                                <button type="submit" class="btn btn-danger btn-xs btn-delete" aria-label="Удалить" title="Удалить">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                </button>
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @Html.Partial("_PagingNavigation", Model)
        </div>
    </div>
</div>
