@model Petrovich.Web.Models.Products.ProductEditViewModel

@{
    ViewBag.Title = "Редактирование продукта";
}

<div class="x_panel product-edit">
    <div class="x_title">
        <h2>@ViewBag.Title <small>редактирование существующего продукта</small></h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        @using (Html.BeginForm(PetrovichRoutes.Products.Edit, new { returnUrl = Request.QueryString["returnUrl"] }, FormMethod.Post, new { @class = "form-horizontal form-label-left", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.ProductId)
            @Html.HiddenFor(m => m.InventoryPart)
            @Html.HiddenFor(m => m.CategoryId)
            @Html.HiddenFor(m => m.GroupId)

            @Html.HiddenFor(m => m.ImageFullId)
            @Html.HiddenFor(m => m.ImageFull)
            @Html.HiddenFor(m => m.ImageDefault)
            @Html.HiddenFor(m => m.ImageSmall)

            <div class="form-group">
                @Html.LabelFor(m => m.Title, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <span class="required">*</span>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Название" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Description, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Описание" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Defects, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextAreaFor(m => m.Defects, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Дефекты" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Price, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-2 col-sm-2 col-xs-12">
                    @Html.TextBoxFor(m => m.Price, "{0:N2}", new { id = "price", @class = "form-control col-xs-12", placeholder = "Цена проката" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.AssessedValue, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.AssessedValue, "{0:N2}", new { id = "assessedvalue", @class = "form-control col-xs-12", placeholder = "Оценочная стоимость" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Дата закупки</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.HiddenFor(m => m.PurchaseMonth, new { id = "purchasemonth" })
                    @Html.HiddenFor(m => m.PurchaseYear, new { id = "purchaseyear" })
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                        <input id="purchasePicker" type="text" class="form-control col-md-7 col-xs-12" placeholder="Дата закупки" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ImageDefault, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @if (!String.IsNullOrWhiteSpace(Model.ImageDefault) && Model.ImageFullId.HasValue)
                    {
                        <div class="preview">
                            <a href="@Url.Action(PetrovichRoutes.Images.Index, new { id = Model.ImageFullId })" target="_blank">
                                @Html.Partial("_Base64Image", Model.ImageDefault)
                            </a>
                        </div>
                    }
                    @Html.TextBox("file", "", new { @class = "form-control col-md-7 col-xs-12", type = "file" })
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                @Html.LabelFor(m => m.BranchTitle, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <span class="required">*</span>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.BranchTitle, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CategoryId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <span class="required">*</span>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.CategoryTitle, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.GroupId, new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                <div class="col-md-6 col-sm-6 col-xs-12">
                    @Html.TextBoxFor(m => m.GroupTitle, new { @class = "form-control col-md-7 col-xs-12", @readonly = true })
                </div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-success">Сохранить</button>
                    @if (String.IsNullOrWhiteSpace(Request.QueryString["returnUrl"]))
                    {
                        @Html.ActionLink("Отмена", PetrovichRoutes.Products.Index, null, new { @class = "btn btn-default" })
                    }
                    else
                    {
                        <a class="btn btn-default" href="@Request.QueryString["returnUrl"]">Отмена</a>
                    }
                </div>
            </div>
            <div class="ln_solid"></div>
            <p class="font-gray-dark text-right small">
                Создан: <strong>@Html.DisplayFor(m => m.Created)</strong> пользователем <strong>@Html.DisplayFor(m => m.CreatedBy)</strong>
                <br />
                Отредактирован: <strong>@Html.DisplayFor(m => m.Modified)</strong> пользователем <strong>@Html.DisplayFor(m => m.ModifiedBy)</strong>
            </p>
        }
    </div>
</div>

<style type="text/css">
    .ui-datepicker-calendar,
    button.ui-datepicker-current {
        display: none;
    }
</style>