@model Petrovich.Web.Models.Manager.CategoriesViewModel

@{
    ViewBag.Title = "Категории";
}

<div class="x_panel manager">
    <div class="x_title">
        <small>
            <a href="@Url.Action(PetrovichRoutes.Manager.Branches)">Разделы</a>
        </small>
        <span>&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</span>
        <small>@Model.BranchTitle</small>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Инвентарные номера</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!Model.Categories.Any())
                            {
                                <tr>
                                    <td colspan="3">Нет элементов для отображения</td>
                                </tr>
                            }

                            @foreach (var item in Model.Categories)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.Action(PetrovichRoutes.Manager.Groups, new { branchId = Model.BranchId, categoryId = item.CategoryId })">@item.Title</a>
                                    </td>
                                    <td>@item.InventoryNumbers</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>