@model IEnumerable<Petrovich.Web.Models.Manager.ProductViewModel>
@using Petrovich.Core

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Название</th>
            <th>Инвентарный номер</th>
            <th>Дефекты</th>
            <th>Цена проката</th>
            <th>Оценочная стоимость</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="6">Нет элементов для отображения</td>
            </tr>
        }

        @foreach (var item in Model)
        {
            <tr class="sc-product-item">
                <td>
                    <a href="@Url.Action(PetrovichRoutes.Manager.ProductDetails, new { id = item.ProductId })">@item.Title</a>
                </td>
                <td>
                    @item.InventoryNumber
                </td>
                <td>
                    @if(!String.IsNullOrWhiteSpace(item.Defects))
                    {
                        @:Да
                    }
                </td>
                <td>
                    @item.PriceText
                </td>
                <td>
                    @item.AssessedValue.ToDoubleValueString() BYN
                </td>
                <td>
                    @if (User.Identity.HasClaim(PermissionClaims.Manager) && item.Price.HasValue)
                    {
                        <input name="product_id" type="hidden" value="@item.ProductId">
                        <input name="product_name" type="hidden" value="@item.Title">
                        <input name="product_desc" type="hidden" value="@item.Description.CutDescription()">
                        <input name="product_image" type="hidden" value="@item.ImageSmall.RenderImageForSmartCart(Url)">
                        <input name="product_price" type="hidden" value="@item.PriceText">
                        <input name="product_link" type="hidden" value="@Url.Action(PetrovichRoutes.Manager.ProductDetails, new { id = item.ProductId })">

                        <button type="button" class="btn btn-success btn-xs sc-add-to-cart">Добавить в заявку</button>
                        <button type="button" class="btn btn-dark btn-xs sc-added-to-cart" disabled>Добавлен в заявку</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>