@model Petrovich.Web.Models.Manager.ProductDetailsViewModel
@using Petrovich.Core

@{
    ViewBag.Title = Model.Title;
}

<div class="x_panel product-details sc-product-item">
    <div class="x_title x_navigation">
        <small>
            <a href="@Url.Action(PetrovichRoutes.Manager.Branches)">Разделы</a>
        </small>
        <span>&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</span>
        <small>
            <a href="@Url.Action(PetrovichRoutes.Manager.Categories, new { branchId = Model.BranchId })">@Model.BranchTitle</a>
        </small>
        <span>&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</span>
        <small>
            <a href="@Url.Action(PetrovichRoutes.Manager.Groups, new { branchId = Model.BranchId, categoryId = Model.CategoryId })">@Model.CategoryTitle</a>
        </small>
        @if (Model.GroupId.HasValue)
        {
            <span>&nbsp;<i class="fa fa-angle-double-right"></i>&nbsp;</span>
            <small>
                <a href="@Url.Action(PetrovichRoutes.Manager.Products, new { branchId = Model.BranchId, categoryId = Model.CategoryId, groupId = Model.GroupId })">@Model.GroupTitle</a>
            </small>
        }
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="product-image">
                <a href="@Url.Action(PetrovichRoutes.Images.Index, new { id = Model.ImageFullId })" title="@Model.Title" target="_blank">
                    @Html.Partial("_Base64Image", Model.ImageDefault)
                </a>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
            <section class="administration-bar">
                @if (User.Identity.HasClaim(PermissionClaims.ProductsAdmin))
                {
                    <a href="@Url.Action(PetrovichRoutes.Products.Edit, new { id = Model.ProductId })" class="btn btn-default btn-xs">Редактировать</a>
                }
                @if (User.Identity.HasClaim(PermissionClaims.Manager))
                {
                    <input name="product_id" type="hidden" value="@Model.ProductId">
                    <input name="product_name" type="hidden" value="@Model.Title">
                    <input name="product_desc" type="hidden" value="@Model.Description">
                    <input name="product_price" type="hidden" value="@Model.Price">
                    <input name="product_pricetype" type="hidden" value="@Model.PriceType">

                    <a href="javascript:void(0)" class="btn btn-success btn-xs sc-add-to-cart">Добавить в заявку</a>
                    <a class="btn btn-dark btn-xs sc-added-to-cart" disabled>Добавлен в заявку</a>
                }
            </section>
            <section class="stats">
                <ul class="stats-overview">
                    <li>
                        <span class="name">Инвентарный номер</span>
                        <span class="value text-success">@Model.InventoryNumber</span>
                    </li>
                    <li>
                        <span class="name">Дата закупки</span>
                        <span class="value text-success">@Model.PurchaseDate</span>
                    </li>
                </ul>
            </section>
            <section class="panel">
                <div class="x_title">
                    <h2>Описание продукта</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p>@Model.Description</p>
                </div>
            </section>
        </div>
    </div>
</div>